[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
twitch-python = "*"
keyboard = "*"
python-dotenv = "*"
"discord.py" = {extras = ["voice"], version = "*"}
twitchio = "*"

[requires]
python_version = "3.8"
